// SASS VARIABLES
// --------------------------------------------------

// Typography variables

$base-font                   	: Georgia,Times,"Times New Roman",serif;
$heading-font                	: "Helvetica Neue","Segoe UI",Arial,sans-serif;
$caption-font                	: $base-font;
$code-font                   	: monospace;
$alt-font                    	: $heading-font;

$doc-font-size               	: 16;
$doc-line-height             	: 20;

$border-radius               	: 3px;


// Color variables

$body-color                  	: #ebebeb;
$text-color                  	: #313130;
$base-color                  	: #343434;    
$comp-color                  	: complement($base-color); 
$border-color                	: #ddd;
$white                       	: #fff;
$black                       	: #000;
$link-color                  	: #42b6db;
$primary-color               	: $black;
$success-color               	: #2ecc71;
$warning-color               	: #f1c40f;
$danger-color                	: #e74c3c;
$info-color                  	: #3498db;

$table-border-color          	: $border-color;
$table-border                	: 1px solid $table-border-color;
$table-background            	: $body-color;
$table-header-color          	: lighten($table-background, 10);
$table-hover-color           	: #fafafa;
$table-stripe-color          	: darken($table-background, 4);
$table-stripe-color-hover    	: darken($table-stripe-color, 5);


// Form variables

$form-border-color           	: $border-color;
$form-border-color-hover     	: darken($border-color, 10);
$form-border-color-focus     	: $primary-color;
$form-border-radius          	: $border-radius;
$form-box-shadow             	: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus       	: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-family            	: $base-font;
$form-font-size              	: $doc-font-size;


// Sliding Menu Navigation

$sliding-menu-border-color	 	: $black;
$sliding-menu-background 		: $black;
$sliding-menu-color 	 		: $white;
$sliding-menu-background-hover	: $black;
$sliding-menu-color-hover	 	: $white;
$sliding-menu-border   			: 1px solid $sliding-menu-border-color;
$button-size		         	: 30px; 
$transition						: .3s; // increase this to see the transformations in slow-motion


// Masthead

$masthead-height: $button-size * 2;